
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');


*{
    box-sizing:border-box;
}

html{
    color: rgb(22, 24, 26);
   font-family: 'Fira Sans', sans-serif;  
}

body{
    margin: 0;
    background-color: bisque;
}